.app {
	background-color: #eee;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	.addTodoButton {
		color: #221f1f;
		font-size: 1.0625em;
		height: 1.875rem;
		border-radius: 0.3125em;
		margin-left: 0.625em;
		width: 6.25em;
		cursor: pointer;
		&:hover {
			background-color: #8e8c8c;
		}
	}

	.inputApp {
		width: 15.625em;
		height: 1.25em;
		padding: 0.8em;
		border-radius: 0.9em;
		outline: none;
		border: none;
	}
}

@media screen and (min-width: 300px) and (max-width: 450px) {
	.app {
		.addTodoButton {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			margin-top: 0.4rem;
			border: 1px solid black;
		}
	}
}
