.app {
	background-color: #eee;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

	.addTodoButton {
		color: #221f1f;
		font-size: 17px;
		height: 30px;
		border-radius: 5px;
		margin-left: 10px;
		width: 100px;
		cursor: pointer;
		&:hover {
			background-color: #8e8c8c;
		}
	}

	.inputApp {
		width: 250px;
		height: 20px;
		outline: none;
		border: 1px solid #a13535;
	}
}

@media (max-width: 550px) {
	.app {
		width: 100vw;
	}
}

@media (max-width: 360px) {
	.app {
		width: 100%;
	}
	.addTodoButton {
		text-align: center;
		margin-top: 10px;
	}
	.appTitle {
		color: #181818;
		font-size: 35px;
	}
	.formApp {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
