.todo.completedStyle {
	text-decoration: line-through;
	font-size: 0.9375em;
	font-family: "Roboto";
	background-color: rgba(241, 201, 201, 0.834);
}
.todo {
	box-sizing: border-box;
	background-color: #6ad8a3;
	display: flex;
	max-width: 95%;
	align-items: center;
	border: 0.1875em solid rgb(136, 136, 136);
	border-radius: 0.625em;
	margin: 0.4375em;
	justify-content: space-between;
	padding: 0 1.25em;
	.todoHeader {
		color: rgb(3, 3, 3);
		cursor: pointer;
		font-size: 1.0625em;
		font-family: "Times New Roman";
	}
	.deleteButton {
		width: 1.5625em;
		height: 1.875em;
		cursor: pointer;
		color: rgb(230, 111, 111);
		transition: all 0.5s all;
		:hover {
			transition: all 0.5s ease-out;
			transform: scale(1.1em);
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 450px) {
	.todo {
		width: 90%;
		margin: 0.2rem auto;
	}
}
