.todo.completedStyle {
	text-decoration: line-through;
	font-size: 15px;
	font-family: "Roboto";
	background-color: rgba(241, 201, 201, 0.834);
}
.todo {
	box-sizing: border-box;
	min-width: 400px;
	background-color: #6ad8a3;
	display: flex;
	align-items: center;
	border: 3px solid rgb(136, 136, 136);
	border-radius: 10px;
	margin: 7px;
	justify-content: space-between;
	padding: 0 20px;

	.todoHeader {
		color: rgb(3, 3, 3);
		cursor: pointer;
		font-size: 17px;
		font-family: "Times New Roman";
	}
	.deleteButton {
		width: 25px;
		height: 30px;
		cursor: pointer;
		color: rgb(230, 111, 111);
		transition: all 0.5s all;
		:hover {
			transform: scale(1.1);
		}
	}
}

@media (max-width: 550px) {
	.todo {
		font-size: 10px;
	}
}

@media (max-width: 375px) {
	.todo {
		font-size: 10px;
	}
}
